*.iml
.gradle
/local.properties
/.idea/*.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/sonarlint/*
.idea/misc.xml
.idea/codeStyles/Project.xml
app/src/main/res/layout/registration.xml
